@import url('https://fonts.googleapis.com/css?family=Nosifer|Playfair+Display');

html,body{
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}
/*   .........global......    */



h2{
	font-family: 'Nosifer',serif;
	font-size: 200%;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: underline;
	text-align: center;
}
p{
	font-family: 'playfair ', serif;
	font-size: 140%;
	line-height: 180%;
	color: #2c2c2c;
	text-align: justify;
}

img{
	max-width: 100%;
	width: auto;
	height: auto;
	text-align: center;

}
.intro{
	height: 100%;
	width: 100%;
	margin: auto;
	background: url(../image/showcase.jpg);
	background-size: cover;
	display: table;

}
.intro .inner{
	display: table-cell;
	vertical-align: middle;
	width: 1000%;
	max-width: none;
}
h1{
	font-family:'Nosifer',serif;
	font-size: 300%;
	font-weight: 700;
	color: #ffffff;
	text-align: center;
	padding: 2%; 
	text-shadow: 0px 0px 250px #000;
}
.inner p{
	color: #fff;
	max-width: 600px;
	margin: auto;
	font-size: 170%;
	line-height: 2;
	text-transform: capitalize;

}
/*nav......*/

nav{
	float: left;
	padding: 5% 5% 0 0;
	height: 50px;
}
nav ul{
	float: left;
	list-style: none;
}
nav ul li{
	font-family: 'playfair display',serif;
	font-size: 150%;

}
nav ul li a{
	color: #fff;
	text-decoration: none;
}
nav ul li a:hover{
	text-decoration: underline;
}
nav ul,nav:active ul{
	display: none;
	padding: 20px;
	width: 20%;
/*	z-index: -1;*/
	left: 25px;
	top: 50px;
}
nav li{
	padding: 8px 0 10px 7px;
	width: 100%;
	margin: 0;
}
nav:hover ul{
	display: block;
	position: absolute;
}
#menu-icon{
	width: 30px;
	height: 26px;
	background: url(../image/icon.png) center;
	display: inline-block;
	margin: 50px 0 0 50px;
}
.left-col{
	float: left;
	width: 60%;
	margin: 4% 0 4% 4%;
}
.sidebar{
	float: left;
	width: 25%;
	margin:4%;
}
.third-port{
	width:43%;
	padding: 2%;
	float: left;
	margin:auto;
	text-align: center;


}
.third-port img:hover{
	opacity: .6;
}
.contact p{
	text-align: center;
	letter-spacing: 5px;
}
.contact a{
	color: #2c2c2c;
	text-decoration: none;

}
.break{
	display: none;
}
.container{
	clear: both;
	height: 3%;

}
.parallax{
	background: url(../image/slide.jpg) repeat fixed  100%;
	opacity: 6%;
}
.parallax-inner{
	padding-top: 17%;
}
.social{
	list-style-type: none;
	text-align: center;
	margin: 0;
	padding: 0;
}
.social li{
	display: inline;
}

.social span{
	margin: 2% 5% 2% 5%;

}
.social span:hover{
	color: #606060;
}
.second{
	background-color: #606060;

}
.second p{
	text-align: center;
	padding: 2%;

	color: #fff;

}
@media screen and (max-width: 768px){
	#menu-icon{
		margin:26px 0 0 26px;

	}
/*	.intro{
		font-size: 100%;
	}*/
	nav ul,nav:active ul{
		padding: 5px 0;
		left: 23px;
		top: 35px;
		width: 50%;
	}
	.inner{
		font-size: 90%;
		
	}
	.content h1{
		font-size: 180%;
	}
	p{
		font-size: 120%;
	}
	h2{
		font-size: 160%;
	}
	.left-col{
		width:90%;
		margin: 0 0 3% 0;
		padding: 0 2%;
	}
	.sidebar{
		width: 96%;
		margin: 0 auto;

	}
	img{
		padding: 2%;
	}
	.third-port{
		width: 96%;
		margin: auto;
		padding: 0;
	}
	.break{
		display: block;
	}
	.parallax{
		display: none;
	}
	.social span{
		font-size: 120%;
	}
	.contact a{
		padding-left: 5%;
	}
}